:root {
    --header-height: 5rem;
    --footer-height: 4rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 0;
    right: 0;
}

/* Fixed header */
header {
    background-color: #a9ccee;
    color: #2a5864;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
}

header h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Fixed footer */
footer {
    background-color: #a9ccee;
    color: #2a5864;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: var(--footer-height);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.75);
    padding-bottom: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1rem;
}

/* Main content area */
main {
    background-color: #f0efef;
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    color: #e67e22;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 5rem;
    max-height: 70vh;
}

@media screen and (max-width: 768px) {
    main {
        margin: 2rem;
    }
    
}

@media screen and (max-width: 600px) {
    main {
        margin: 2rem;
    }

}
@media screen and (max-width: 480px) {
    main {
        margin: 2rem;
    }
    
}
/* Container styles */
.container {
    margin: 4rem auto;
    width: 100%;
}

/* Fact text */
.container #fact-text {
    color: #34495e;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    height: 20vh;
    margin-bottom: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container #fact-text:hover {
    transform: scale(1.05);
}

/* Cat image */
.container #cat-img {
    max-height: 40vh;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.container #cat-img:hover {
    transform: scale(1.05);
}

.container #img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
/* Button */
#get-fact-btn {
    background-color: #3498db;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    color: #f8f8f8;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    position: fixed;
    bottom: calc(var(--footer-height) + 2rem); /* Adjusted */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    z-index: 9999;
    animation: btn_animation 2s infinite alternate-reverse;
    user-select: none;
    transition: background-color 0.3s;
}

#get-fact-btn:hover {
    background-color: #2980b9;
    animation-play-state: paused;
}

#get-fact-btn:active {
    background-color: #1c5985;
    transform: translateY(2px);
}

@keyframes btn_animation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .container #fact-text {
        font-size: 1rem;
    }

    #get-fact-btn {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}


#fact-text, #cat-img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#fact-text.fade-out, #cat-img.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#fact-text.fade-in, #cat-img.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
