body {
    background-color: #c5c5c5;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Fixed header */
header {
    background-color: #a9ccee;
    color: #2a5864;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 3rem;
}

/* Fixed footer */
footer {
    background-color: #a9ccee;
    color: #2a5864;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    height: 3rem;
}

footer p {
    line-height: 0px;
}

/* Main content area */
main {
    background-color: #f0efef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: #e67e22;
    border-radius: 15px;
    margin: 7rem auto 3rem auto;
    height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 800px;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Fact text */
.container #fact-text {
    color: #34495e;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;
}

.container #fact-text:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.container #fact-text:not(:hover) {
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

/* Cat image */
.container #cat-img {
    max-height: 40vh;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.container #cat-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Button */
#get-fact-btn {
    background-color: #3498db;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    color: #f8f8f8;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    max-width: 90%;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

#get-fact-btn:hover {
    background-color: #2980b9;
}

#get-fact-btn:active {
    background-color: #1c5985;
    transform: translateY(2px);
}

@media screen and (max-width: 768px) {
    .container #fact-text {
        font-size: 1rem;
    }
}
